{% extends "patient_data/base.html" %}
{% block stylesheet %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock stylesheet %}
{% block content %}
    <div class="container">
    <div class="query-container">
        {# Left Space #}
        <div class="col-md-1"></div>
        {# Middle Space #}
        <div class="col-md-10">
            <div class="my-form">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-row justify-content-left g-3">
                        {% if update %}
                            <h1 class="mb-3">Pathology(Lab) Update Form</h1>
                                <div class="row">
                                    <div class="col-auto">
                                        {% if request.GET.next %}
                                            <h5><a class="btn btn-dark" href="{{ request.GET.next }}">Back</a></h5>
                                        {% else %}
                                            {% if patient.s3careplan_set.all.count > 0 %}
                                                <h5><a class="btn btn-dark" href="{% url 'radonc-careplan-list' patient.parent_id.crnumber %}">Back</a></h5>
                                            {% else %}
                                                <h5><a class="btn btn-dark" href="{% url 'db_operations' patient.parent_id.crnumber %}">Back</a></h5>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col-auto">
                                        <h5><a class="btn btn-dark" href="{% url 'db_operations' patient.parent_id.crnumber %}">Database Operations</a></h5>
                                    </div>
                                </div>
                        {% else %}
                            <h1 class="mb-3">Pathology(Lab) Form</h1>
                            {% with crnumber=123456 %}
                                <div class="row">
                                    <div class="col-auto">
                                        {% if request.GET.next %}
                                            <h5><a class="btn btn-dark" href="{{ request.GET.next }}">Back</a></h5>
                                        {% else %}
                                            {% if patient.s3careplan_set.all.count > 0 %}
                                                <h5><a class="btn btn-dark" href="{% url 'radonc-careplan-list' patient.crnumber %}">Back</a></h5>
                                            {% else %}
                                                <h5><a class="btn btn-dark" href="{% url 'db_operations' patient.crnumber %}">Back</a></h5>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col-auto">
                                        <h5><a class="btn btn-dark" href="{% url 'db_operations' patient.crnumber %}">Database Operations</a></h5>
                                    </div>
                                </div>
                            {% endwith %}
                        {% endif %}
                        <div class="form-control">
                                <div class="row g-2 mt-2">
                                    <div class="col-md-2 d-none">
                                        {{ form.parent_id.errors }}
                                        <label class="oncflow-labels" for="{{ form.parent_id.id_for_label }}">CRN:</label>
                                        {{ form.parent_id }}
                                    </div>
                                    {% if s8_id %}
                                        <div class="col-md-2 d-none">
                                            {{ form.s8_id.errors }}
                                            <label class="oncflow-labels" for="{{ form.s8_id.id_for_label }}">FU ID:</label>
                                            {{ form.s8_id }}
                                        </div>
                                    {% endif %}
                                    {% if s7_id %}
                                        <div class="col-md-2 d-none">
                                            {{ form.s7_id.errors }}
                                            <label class="oncflow-labels" for="{{ form.s7_id.id_for_label }}">As ID:</label>
                                            {{ form.s7_id }}
                                        </div>
                                    {% endif %}
                                    <div class="col-md-4">
                                        {{ form.test_name.errors }}
                                        <label class="oncflow-labels" data-toggle="tooltip" data-placement="top"
                                               title="Mention the Lab test name here."
                                               for="{{ form.test_name.id_for_label }}">Test Name:</label>
                                        {{ form.test_name }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ form.test_date.errors }}
                                        <label class="oncflow-labels" data-toggle="tooltip" data-placement="top"
                                               title="Date, when test was performed"
                                               for="{{ form.test_date.id_for_label }}">Date:</label>
                                        {{ form.test_date }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ form.test_result.errors }}
                                        <label class="oncflow-labels" data-toggle="tooltip" data-placement="top"
                                               title="Report Test value. If outcome is binary like positive or
                                               negative, mention it as Binary and select positive or negative in
                                               units drop down choices."
                                               for="{{ form.test_result.id_for_label }}">Result:</label>
                                        {{ form.test_result }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form.test_unit.errors }}
                                        <label class="oncflow-labels" data-toggle="tooltip" data-placement="top"
                                               title="Report the measuring unit for the test"
                                               for="{{ form.test_unit.id_for_label }}">Units:</label>
                                        {{ form.test_unit }}
                                    </div>
                                    <div class="col-md-12">
                                        {{ form.test_result_details.errors }}
                                        <label class="oncflow-labels" data-toggle="tooltip" data-placement="top"
                                               title="Mention additional comments about the result here"
                                               for="{{ form.test_result_details.id_for_label }}">Result Details(if any):</label>
                                        {{ form.test_result_details }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ form.normal_range_min.errors }}
                                        <label class="oncflow-labels" data-toggle="tooltip" data-placement="top"
                                               title="Mention Minimum normal range for the test, if applicable"
                                               for="{{ form.normal_range_min.id_for_label }}">NR(Min):</label>
                                        {{ form.normal_range_min }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ form.normal_range_max.errors }}
                                        <label class="oncflow-labels" data-toggle="tooltip" data-placement="top"
                                               title="Mention Maximum normal range for the test, if applicable"
                                               for="{{ form.normal_range_max.id_for_label }}">NR(Max):</label>
                                        {{ form.normal_range_max }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form.lab_name.errors }}
                                        <label class="oncflow-labels" data-toggle="tooltip" data-placement="top"
                                               title="Mention the Laboratory where test was performed"
                                               for="{{ form.lab_name.id_for_label }}">Lab Name:</label>
                                        {{ form.lab_name }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form.lab_contact.errors }}
                                        <label class="oncflow-labels" data-toggle="tooltip" data-placement="top"
                                               title="Contact details of laboratory, if available"
                                               for="{{ form.lab_contact.id_for_label }}">Lab (Contact):</label>
                                        {{ form.lab_contact }}
                                    </div>
                                     <div class="col-md-12">
                                        {{ form.notes.errors }}
                                        <label class="oncflow-labels" data-toggle="tooltip" data-placement="top"
                                               title="Record any other important information,
                                               which can not be recorded into the above fields"
                                               for="{{ form.notes.id_for_label }}">Notes:</label>
                                        {{ form.notes }}
                                     </div>
                                </div>
                            </div>
                    <!-- Button Row -->
                        {% if update %}
                            <div class="d-flex form-group justify-content-between mt-2">
                                <button class="btn btn-dark" type="submit">Update</button>
                            </div>
                        {% else %}
                            <div class="d-flex form-group justify-content-between mt-2">
                                <button class="btn btn-dark" type="submit">Save</button>
                                {% if s8_id %}
                                    <button class="btn btn-dark" type="submit" name="to_fup">Save -> Follow up</button>
                                {% endif %}
                                {% if s7_id %}
                                    <button class="btn btn-dark" type="submit" name="to_ass">Save -> Assessment</button>
                                {% endif %}
                                <button class="btn btn-dark" type="submit" name="to_cp">Save -> CarePlan</button>
                            </div>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
        {# Right Space #}
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#id_test_name').select2();
            $('#id_test_unit').select2();
        });
    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script>
        localStorage.setItem('formSubmitted', 'false');
    </script>

{% endblock javascript %}