{% extends "patient_data/base.html" %}
{% block stylesheet %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock stylesheet %}
{% block content %}
    <div class="container">
    <div class="query-container">
        {# Left Space #}
        <div class="col-md-1"></div>
        {# Middle Space #}
        <div class="col-md-10">
            <div class="my-form">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-row justify-content-left g-3">
                        {% if update %}
                            <h1 class="mb-3">Pathology(Biopsy/Cytology) Update Form</h1>
                                <div class="row">
                                    <div class="col-auto">
                                        {% if request.GET.next %}
                                            <h5><a class="btn btn-dark" href="{{ request.GET.next }}">Back</a></h5>
                                        {% else %}
                                            <h5><a class="btn btn-dark" href="{% url 'radonc-careplan-list' patient.parent_id.crnumber %}">Back</a></h5>
                                        {% endif %}
                                    </div>
                                    <div class="col-auto">
                                        <h5><a class="btn btn-dark" href="{% url 'db_operations' patient.parent_id.crnumber %}">Database Operations</a></h5>
                                    </div>

                                </div>
                        {% else %}
                            <h1 class="mb-3">Pathology(Biopsy/Cytology) Form</h1>
                            {% with crnumber=123456 %}
                                <div class="row">
                                    <div class="col-auto">
                                        {% if request.GET.next %}
                                            <h5><a class="btn btn-dark" href="{{ request.GET.next }}">Back</a></h5>
                                        {% else %}
                                            <h5><a class="btn btn-dark" href="{% url 'radonc-careplan-list' patient.crnumber %}">Back</a></h5>
                                        {% endif %}
                                    </div>
                                    <div class="col-auto">
                                        <h5><a class="btn btn-dark" href="{% url 'db_operations' patient.crnumber %}">Database Operations</a></h5>
                                    </div>
                                </div>
                            {% endwith %}
                        {% endif %}
                        <div class="form-control">
                                <div class="row g-2 mt-2">
                                    <div class="col-md-2">
                                        {{ form.parent_id.errors }}
                                        <label class="oncflow-labels" for="{{ form.parent_id.id_for_label }}">CRN:</label>
                                        {{ form.parent_id }}
                                    </div>
                                    {% if s8_id %}
                                        <div class="col-md-2 d-none">
                                            {{ form.s8_id.errors }}
                                            <label class="oncflow-labels" for="{{ form.s8_id.id_for_label }}">FU ID:</label>
                                            {{ form.s8_id }}
                                        </div>
                                    {% endif %}
                                    {% if s7_id %}
                                        <div class="col-md-2 d-none">
                                            {{ form.s7_id.errors }}
                                            <label class="oncflow-labels" for="{{ form.s7_id.id_for_label }}">As ID:</label>
                                            {{ form.s7_id }}
                                        </div>
                                    {% endif %}
                                    <div class="col-md-4">
                                        {{ form.path_type.errors }}
                                        <label class="oncflow-labels" for="{{ form.path_type.id_for_label }}">Procedure Type:</label>
                                        {{ form.path_type }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form.guided_by.errors }}
                                        <label class="oncflow-labels" for="{{ form.guided_by.id_for_label }}">Biopsy Guided by:</label>
                                        {{ form.guided_by }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form.biopsy_date.errors }}
                                        <label class="oncflow-labels" for="{{ form.biopsy_date.id_for_label }}">Biopsy Date:</label>
                                        {{ form.biopsy_date }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.biopsy_location.errors }}
                                        <label class="oncflow-labels" for="{{ form.biopsy_location.id_for_label }}">Biopsy Site:</label>
                                        {{ form.biopsy_location }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.biopsy_result.errors }}
                                        <label class="oncflow-labels" for="{{ form.biopsy_result.id_for_label }}">Biopsy (Result):</label>
                                        {{ form.biopsy_result }}
                                    </div>
                                    <div class="col-md-12">
                                        {{ form.biopsy_result_details.errors }}
                                        <label class="oncflow-labels" for="{{ form.biopsy_result_details.id_for_label }}">Biopsy (Details):</label>
                                        {{ form.biopsy_result_details }}
                                    </div>
                                     <div class="col-md-3">
                                        {{ form.lab_name.errors }}
                                        <label class="oncflow-labels" for="{{ form.lab_name.id_for_label }}">Lab Name:</label>
                                        {{ form.lab_name }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form.lab_contact.errors }}
                                        <label class="oncflow-labels" for="{{ form.lab_contact.id_for_label }}">Lab Contact:</label>
                                        {{ form.lab_contact }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form.molecular_profile.errors }}
                                        <label class="oncflow-labels" for="{{ form.molecular_profile.id_for_label }}">Molecular Profile Done?:</label>
                                        {{ form.molecular_profile }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form.molecular_profile_status.errors }}
                                        <label class="oncflow-labels" for="{{ form.molecular_profile_status.id_for_label }}">Molecular Profile Status:</label>
                                        {{ form.molecular_profile_status }}
                                    </div>
                                    <div class="col-md-12">
                                        {{ form.notes.errors }}
                                        <label class="oncflow-labels" for="{{ form.notes.id_for_label }}">Notes:</label>
                                        {{ form.notes }}
                                    </div>
                                </div>
                            </div>
                    <!-- Button Row -->
                        {% if update %}
                            <div class="d-flex form-group justify-content-between mt-2">
                                <button class="btn btn-dark" type="submit">Update</button>
                            </div>
                        {% else %}
                            <div class="d-flex form-group justify-content-between mt-2">
                                <button class="btn btn-dark" type="submit">Save</button>
                                {% if s8_id %}
                                    <button class="btn btn-dark" type="submit" name="to_fup">Save -> Follow up</button>
                                {% endif %}
                                {% if s7_id %}
                                    <button class="btn btn-dark" type="submit" name="to_ass">Save -> Assessment</button>
                                {% endif %}
                                <button class="btn btn-dark" type="submit" name="to_cp">Save -> CarePlan</button>
                            </div>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
        {# Right Space #}
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#id_biopsy_location').select2();
        });
    </script>
{% endblock javascript %}