{% extends "patient_data/base.html" %}
{% block stylesheet %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock stylesheet %}
{% block content %}
<div class="container">
    {# Middle Space #}
    <div class="col-auto">
        <div class="my-form">
                {% if update %}
                    <h1 class="mb-3">Follow up Update Form</h1>
                    <h5 class="mb-3">Follow up to be updated for patient: {{ patient.parent_id.first_name|upper }} with following Diagnosis Details:
                        {% if diagnosis %}
                        <h6 class="mb-3"><b>Laterality:</b>{{ patient.s2_id.laterality }} <b>Diagnosis:</b>{{ patient.s2_id.icd_topo_code.site }} ({{ patient.s2_id.icd_path_code.hpe }})
                            <b>Dx Date:</b> {{ patient.s2_id.dx_date|date:"F d, Y" }}
                        </h6>
                        {% else %}
                            <h6 class="mb-3"><span class="badge bg-danger text-light">No diagnosis established yet!</span></h6>
                        {% endif %}
                    </h5>
                    <div class="row">
                        <div class="col-auto">
                        {% if request.GET.next %}
                            <h5><a class="btn btn-dark" href="{{ request.GET.next }}">Back</a></h5>
                        {% else %}
                            <h5><a class="btn btn-dark" href="{% url 'radonc-careplan-list' updatecrn %}">Back</a></h5>
                        {% endif %}
                        </div>
                        <div class="col-auto">
                            <h5><a class="btn btn-dark" href="{% url 'db_operations' updatecrn %}">Database Operations</a></h5>
                        </div>
                    </div>
                    {# ACCORDIAN ROWS#}
                    <div class="row justify-content-start align-items-center">
                    {#PRESCRIPTION#}
                        <div class="col-md-12 accordion accordion-flush" id="accordionFlushPrescription">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed accordian-bg" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        <h5 class="text-dark">Prescription</h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushPrescription">
                                    <div class="accordion-body">
                                        <a class="btn btn-sm btn-dark text-light m-2" href="{% url 'prescription2' patient.parent_id.crnumber patient.s8_id %}?next={{ request.path|urlencode }}">Add New</a>
                                        {% if patient.prescription_set.all %}
                                            <table class="styled-table m-1">
                                            <thead>
                                                <tr>
                                                    <th>Symptoms</th>
                                                    <th>Duration</th>
                                                    <th>Drug</th>
                                                    <th>Route</th>
                                                    <th>Frequency</th>
                                                    <th>Duration</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for content in patient.prescription_set.all %}
                                                <tr>
                                                    <td>{{ content.symptoms }}</td>
                                                    <td>{{ content.symp_duration }}</td>
                                                    <td>{{ content.drug_name }} {{ content.dosage }}{{ content.unit }}</td>
                                                    <td>{{ content.route }}</td>
                                                    <td>{{ content.frequency }}</td>
                                                    <td>{{ content.duration }}</td>

                                                    <td>
                                                        <a class="btn btn-sm btn-warning" href="{% url 'prescription-update' content.pk %}?next={{ request.path|urlencode }}">E</a>
                                                        <a class="btn btn-sm btn-danger" href="{% url 'prescription-delete' content.pk %}">X</a>
                                                    </td>
                                                </tr>
                                            {% endfor  %}
                                                <!-- and so on... -->
                                            </tbody>
                                        </table>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {#INVISTIGATION-IMAGING#}
                        <div class="col-md-6 accordion accordion-flush mt-2 mb-2" id="accordionFlushImgInv">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed accordian-bg" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                        <h5>Imaging Investigation</h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushImgInv">
                                    <div class="accordion-body">
                                    <a class="btn btn-sm btn-dark text-light m-2" href="{% url 'inv-imaging2' patient.parent_id.crnumber patient.s8_id %}?next={{ request.path|urlencode }}">Add New</a>
                                        {% if patient.investigationsimaging_set.all %}
                                            <table class="styled-table m-1">
                                        <thead>
                                        <tr>
                                        <th>Date</th>
                                        <th>Modality</th>
                                        <th>Site</th>
                                        <th>Result</th>
                                        <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for content in patient.investigationsimaging_set.all %}
                                        <tr>
                                        <td>{{ content.imaging_date|date:"d/m/y" }}</td>
                                        <td>{{ content.imaging_type.type }}</td>
                                        <td>{{ content.imaging_location.location }}</td>
                                        <td>{{ content.imaging_result.result }}</td>

                                        <td>
                                        <a class="btn btn-sm btn-warning" href="{% url 'inv-imaging-update' content.pk %}?next={{ request.path|urlencode }}">E</a>
                                        <a class="btn btn-sm btn-danger" href="{% url 'inv-imaging-delete' content.pk %}">X</a>
                                        </td>
                                        </tr>
                                        {% endfor  %}
                                        <!-- and so on... -->
                                        </tbody>
                                        </table>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {#INVISTIGATION-PATHLABS#}
                        <div class="col-md-6 accordion accordion-flush mt-2 mb-2" id="accordionFlushImgPathlab">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingThree">
                                    <button class="accordion-button collapsed accordian-bg" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                        <h5>PathLab Investigation</h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushImgPathlab">
                                    <div class="accordion-body">
                                    <a class="btn btn-sm btn-dark text-light m-2" href="{% url 'inv-pathlab2' patient.parent_id.crnumber patient.s8_id %}?next={{ request.path|urlencode }}">Add New</a>
                                        {% if patient.investigationspath_set.all %}
                                            <table class="styled-table m-1">
                                        <thead>
                                        <tr>
                                        <th>Date</th>
                                        <th>Procedure</th>
                                        <th>Result</th>
                                        <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for content in patient.investigationspath_set.all %}
                                        <tr>
                                        <td>{{ content.biopsy_date|date:"d/m/y" }}</td>
                                        <td>{{ content.path_type }}</td>
                                        <td>{{ content.biopsy_result }}</td>
                                        <td>
                                        <a class="btn btn-sm btn-warning" href="{% url 'inv-pathlab-update' content.pk %}?next={{ request.path|urlencode }}">E</a>
                                        <a class="btn btn-sm btn-warning" href="{% url 'inv-molpathlab2' content.parent_id.crnumber content.pk %}?next={{ request.path|urlencode }}">M</a>
                                        <a class="btn btn-sm btn-danger" href="{% url 'inv-pathlab-delete' content.pk %}">X</a>
                                        </td>
                                        </tr>
                                        {% endfor  %}
                                        <!-- and so on... -->
                                        </tbody>
                                        </table>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {#INVISTIGATION-LABTEST#}
                        <div class="col-md-6 accordion accordion-flush mt-2 mb-2" id="accordionFlushImgLabTest">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingFour">
                                    <button class="accordion-button collapsed accordian-bg" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                        <h5>Laboratory Investigation (Blood/Serum)</h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushImgLabTest">
                                    <div class="accordion-body">
                                    <a class="btn btn-sm btn-dark text-light m-2" href="{% url 'inv-lab2' patient.parent_id.crnumber patient.s8_id %}?next={{ request.path|urlencode }}">Add New</a>
                                        {% if patient.investigationslabs_set.all %}
                                            <table class="styled-table m-1">
                                        <thead>
                                        <tr>
                                        <th>Date</th>
                                        <th>Test Name</th>
                                        <th>Result</th>
                                        <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for content in patient.investigationslabs_set.all %}
                                        <tr>
                                        <td>{{ content.test_date|date:"d/m/y" }}</td>
                                        <td>{{ content.test_name }}</td>
                                        <td>{{ content.test_result }} {{ content.test_unit }}</td>
                                        <td>
                                        <a class="btn btn-sm btn-warning" href="{% url 'inv-lab-update' content.pk %}?next={{ request.path|urlencode }}">E</a>
                                        <a class="btn btn-sm btn-danger" href="{% url 'inv-lab-delete' content.pk %}">X</a>
                                        </td>
                                        </tr>
                                        {% endfor  %}
                                        <!-- and so on... -->
                                        </tbody>
                                        </table>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {#INVISTIGATION-MOLPROFILE#}
                        <div class="col-md-6 accordion accordion-flush mt-2 mb-2" id="accordionFlushImgMolProfile">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingFive">
                                    <button class="accordion-button collapsed accordian-bg" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                        <h5>Molecular Profile (New Entry via PathLab)</h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushImgMolProfile">
                                    <div class="accordion-body">
                                         {% if patient.investigationspath_set.first.investigationsmolecular_set.all %}
                                            <table class="styled-table m-1">
                                        <thead>
                                        <tr>
                                        <th>TestName</th>
                                        <th>Result</th>
                                        <th>Value</th>
                                        <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for content in patient.investigationspath_set.all %}
                                            {% for mol_content in content.investigationsmolecular_set.all %}
                                                <tr>
                                                    <td>{{ content.biopsy_date }}: {{ mol_content.mol_type }}</td>
                                                    <td>{{ mol_content.mol_result }}</td>
                                                    <td>{{ mol_content.mol_value }} {{ mol_content.mol_unit }}</td>
                                                    <td>
                                                        <a class="btn btn-sm btn-warning" href="{% url 'inv-molpathlab-update' mol_content.pk %}?next={{ request.path|urlencode }}">E</a>
                                                        <a class="btn btn-sm btn-danger" href="{% url 'inv-molpathlab-delete' mol_content.pk %}">X</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                        <!-- and so on... -->
                                        </tbody>
                                        </table>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {#LATE-TOXICITY#}
                        <div class="col-md-12 accordion accordion-flush mt-2 mb-2" id="accordionFlushLateTox">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingSix">
                                    <button class="accordion-button collapsed accordian-bg" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                        <h5>Late Toxicity</h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushLateTox">
                                    <div class="accordion-body">
                                    <a class="btn btn-sm btn-dark text-light m-2" href="{% url 'latetox2' patient.parent_id.crnumber patient.s8_id %}?next={{ request.path|urlencode }}">Add New</a>
                                        {% if patient.latetoxicity_set.all %}
                                            <table class="styled-table m-1">
                                        <thead>
                                        <tr>
                                        <th>Toxicity</th>
                                        <th>Grade</th>
                                        <th>Drug</th>
                                        <th>Duratioin</th>
                                        <th>Comment</th>
                                        <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for content in patient.latetoxicity_set.all %}
                                        <tr>
                                        <td>{{ content.toxtype }}</td>
                                        <td>{{ content.toxgrade }}</td>
                                        <td>{{ content.drug_name }} {{ content.dosage }} {{ content.unit }} {{ content.route }} {{ content.frequency }}</td>
                                        <td>{{ content.duration }} Days</td>
                                        <td>{{ content.toxdetails }}</td>
                                        <td>
                                        <a class="btn btn-sm btn-warning" href="{% url 'latetox-update' content.pk %}?next={{ request.path|urlencode }}">E</a>
                                        <a class="btn btn-sm btn-danger" href="{% url 'latetox-delete' content.pk %}">X</a>
                                        </td>
                                        </tr>
                                        {% endfor  %}
                                        </tbody>
                                        </table>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# END ACCORDIAN ROWS#}
                {% else %}
                    <h1 class="mb-3">Follow up Form</h1>
                    <h5 class="mb-3">New Follow up to be created for patient: {{ patient.first_name|upper }} with following Diagnosis Details:</h5>
                    <div class="d-flex justify-content-start align-items-center">
                        {% if patient_mx.s2_id %}
                            <h6 class="mb-3"><b>Laterality:</b>{{ patient_mx.s2_id.laterality }} <b>Diagnosis:</b>{{ patient_mx.s2_id.icd_topo_code.site }} ({{ patient_mx.s2_id.icd_path_code.hpe }})
                                <b>Dx Date:</b> {{ patient_mx.s2_id.dx_date|date:"F d, Y" }}
                            </h6>
                            {% else %}
                                <h6 class="mb-3"><span class="badge bg-danger text-light">No diagnosis established yet!</span>
                                </h6>
                        {% endif %}
                    </div>
                    {% with crnumber=123456 %}
                        <div class="row">
                            <div class="col-auto">
                                {% if request.GET.next %}
                                    <h5><a class="btn btn-dark" href="{{ request.GET.next }}">Back</a></h5>
                                {% else %}
                                    <h5><a class="btn btn-dark" href="{% url 'radonc-careplan-list' patient.crnumber %}">Back</a></h5>
                                {% endif %}
                            </div>
                            <div class="col-auto">
                                <h5><a class="btn btn-dark" href="{% url 'db_operations' patient.crnumber %}">Database Operations</a></h5>
                            </div>
                        </div>
                    {% endwith %}
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-row justify-content-left g-3">
                        <div class="form-control section-odd card mb-5">
                            <div class="row g-2 mt-2">
                                <div class="col-md-3 d-none">
                                    {{ form.parent_id.errors }}
                                    <label class="oncflow-labels" for="{{ form.parent_id.id_for_label }}">CRN:</label>
                                    {{ form.parent_id }}
                                </div>
                                <div class="col-md-2 d-none">
                                    {{ form.s2_id.errors }}
                                    <label class="oncflow-labels" for="{{ form.s2_id.id_for_label }}">DXID:</label>
                                    {{ form.s2_id }}
                                </div>
                                <div class="col-md-2 d-none">
                                    {{ form.s3_id.errors }}
                                    <label class="oncflow-labels" for="{{ form.s3_id.id_for_label }}">MxID:</label>
                                    {{ form.s3_id }}
                                </div>
                                <div class="col-md-2">
                                    {{ form.visitdate.errors }}
                                    <label class="oncflow-labels" data-toggle="tooltip" data-placement="top"
                                               title="This is the OPD Visit Date"
                                           for="{{ form.visitdate.id_for_label }}">Visit Date:</label>
                                    {{ form.visitdate }}
                                </div>
                                <div class="col-md-2">
                                    {{ form.Nextvisit.errors }}
                                    <label class="oncflow-labels" data-toggle="tooltip" data-placement="top"
                                               title="If next visit is planned - Record that date"
                                           for="{{ form.Nextvisit.id_for_label }}">Next Visit:</label>
                                    {{ form.Nextvisit }}
                                </div>
                                <div class="col-md-2">
                                    {{ form.Weight.errors }}
                                    <label class="oncflow-labels" for="{{ form.Weight.id_for_label }}">Weight:</label>
                                    {{ form.Weight }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.visittype.errors }}
                                    <label class="oncflow-labels" data-toggle="tooltip" data-placement="top"
                                               title="Record, purpose of the visit. Reason for OPD visit can be multipe, record all."
                                           for="{{ form.visittype.id_for_label }}">Visit Type:</label>
                                    {{ form.visittype }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.visitaction.errors }}
                                    <label class="oncflow-labels" data-toggle="tooltip" data-placement="top"
                                               title="Are we taking any decision during this visit?. If yes then choose from the given list."
                                           for="{{ form.visitaction.id_for_label }}">Action:</label>
                                    {{ form.visitaction }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.PerfStatus.errors }}
                                    <label class="oncflow-labels" data-toggle="tooltip" data-placement="top"
                                               title="ECOG Performance Status. Its Displayed from PS0 to PS5. Choose accordingly"
                                           for="{{ form.PerfStatus.id_for_label }}">ECOG Performance Status:</label>
                                    {{ form.PerfStatus }}
                                </div>
                                <div class="col-md-1">
                                        {{ form.RecordRecc.errors }}
                                        <label class="oncflow-labels" data-toggle="tooltip" data-placement="top"
                                               title="For recording recurrence - Yes or No"
                                               for="{{ form.RecordRecc.id_for_label }}">Failure ?</label>
                                        {{ form.RecordRecc }}
                                </div>
                                <div class="col-md-1">
                                    {{ form.LRstatus.errors }}
                                    <label class="oncflow-labels" data-toggle="tooltip" data-placement="top"
                                               title="For recording Local recurrence - Yes or No"
                                           for="{{ form.LRstatus.id_for_label }}">LR ?:</label>
                                    {{ form.LRstatus }}
                                </div>
                                <div class="col-md-1">
                                    {{ form.RRstatus.errors }}
                                    <label class="oncflow-labels" data-toggle="tooltip" data-placement="top"
                                               title="For recording Regional recurrence - Yes or No"
                                           for="{{ form.RRstatus.id_for_label }}">RR ?:</label>
                                    {{ form.RRstatus }}
                                </div>
                                <div class="col-md-1">
                                    {{ form.DMstatus.errors }}
                                    <label class="oncflow-labels" data-toggle="tooltip" data-placement="top"
                                               title="For recording Distant Metastasis - Yes or No"
                                           for="{{ form.DMstatus.id_for_label }}">DM ?:</label>
                                    {{ form.DMstatus }}
                                </div>
                                <div class="col-md-1">
                                    {{ form.Death.errors }}
                                    <label class="oncflow-labels" data-toggle="tooltip" data-placement="top"
                                               title="Patient Alive or Dead - if death has happened select: Yes"
                                           for="{{ form.Death.id_for_label }}">Death:</label>
                                    {{ form.Death }}
                                </div>
                                <div class="col-md-5">
                                    {{ form.CauseDeath.errors }}
                                    <label class="oncflow-labels" data-toggle="tooltip" data-placement="top"
                                               title="Record cause of Death"
                                           for="{{ form.CauseDeath.id_for_label }}">Death(Cause):</label>
                                    {{ form.CauseDeath }}
                                </div>
                                <div class="col-md-2">
                                    {{ form.Datedeath.errors }}
                                    <label class="oncflow-labels" for="{{ form.Datedeath.id_for_label }}">Death(Date):</label>
                                    {{ form.Datedeath }}
                                </div>
                            </div>
                        </div>


                        <!-- Notes -->

                        <div class="form-control section-odd card mb-5">
                            <div class="row">
                                <div class="col-md-12 mt-2">
                                        {{ form.Notes.errors }}
                                        <label class="oncflow-labels mb-3" for="{{ form.Notes.id_for_label }}">Clinical Notes:</label>
                                        {{ form.Notes }}
                                </div>
                            </div>
                        </div>

                    <!-- Button Row -->
                        {% if update %}
                            <div class="d-flex form-group justify-content-between">
                                <button class="btn btn-dark m-1" type="submit">Update</button>
                                <button class="btn btn-dark m-1" type="submit" name="to_imaging">Save -> Imaging</button>
                                <button class="btn btn-dark m-1" type="submit" name="to_labs">Save -> Labs</button>
                                <button class="btn btn-dark m-1" type="submit" name="to_pathology">Save -> Pathology</button>
                                <button class="btn btn-dark m-1" type="submit" name="to_prescription">Save -> Rx</button>
                            </div>
                        {% else %}
                             <div class="d-flex form-group justify-content-start">
                                <button class="btn btn-dark m-1" type="submit">Save</button>
                                <button class="btn btn-dark m-1" type="submit" name="to_imaging">Save -> Imaging</button>
                                <button class="btn btn-dark m-1" type="submit" name="to_labs">Save -> Labs</button>
                                <button class="btn btn-dark m-1" type="submit" name="to_pathology">Save -> Pathology</button>
                                <button class="btn btn-dark m-1" type="submit" name="to_prescription">Save -> Rx</button>
                            </div>
                        {% endif %}
                    </div>
                </form>
                {% load static %}
                    <script src="{% static 'patient_data/tab.js' %}"></script>
                </div>
                </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascript %}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#id_visittype').select2();
            $('#id_visitaction').select2();
        });
    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock javascript %}