{% extends 'patient_data/base.html' %}
{% block content %}
    <div class="container">
        <div class="container" id="data_operations">
            <h3 class="text-dark">Radiation Oncology Data Entry Module</h3><hr>
            <div class="my-form">
                <form method="POST">
                {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_crnumber" style="font-weight: bold;" class="form-label">CR Number</label>
                        {{ form.s_crnumber }}
                        {{form.s_crnumber.errors }}
                    </div>
                    <div class="mb-3">
                        <label for="submit" class="form-label"></label>
                        <button type="submit" class="btn btn-dark" name="submit">Submit</button>
                    </div>
                </form>
                {% if crnumber %}
                    {% include 'patient_data/partials/db_operations_timeline.html' %}
                {% endif %}
            </div>

{#      Registration#}
            <div class="row mb-3">
                <div class="col-md-3">
                    {% if res %}
                    <div class="my-card box-shadow box-redius" style="background: #ddf8c4;">
                    {% else %}
                    <div class="my-card box-shadow box-redius">
                    {% endif %}
                        <h4><span class="me-1">1. </span>Register*</h4>
                      <hr>
                      <p style="color: #ff6d00"><b>MANDATORY</b></p>
                      <p><span class="highlight"> This module
                      is mandatory - without this you cannot proceed to other modules</span></p>
                      {% if res %}
                          <p><span class="highlight"> This patient is already registered</span></p>
                          <div class="row">
                            <div class="col-12">
                              <a href="{% url 'registration-update' res.0.pk %}?regcrn={{ crnumber }}&update_status={{ True }}" class="btn my-btn">Update:
                                  <span class="badge rounded-pill bg-danger">{{ res.0.crnumber }}</span></a>
                            </div>
                            <div class="col-12 mt-3">
                              {% if fu %}
                                  {% if mx %}
                                    <a href="{% url 'radonc-fup-list' res.0.crnumber %}?next={{ request.path|urlencode }}" class="btn my-btn mx-1">All Visits</a>
                                      <a href="{% url 'radonc-fup2' res.0.crnumber %}?next={{ request.path|urlencode }}" class="btn my-btn mx-1">New Visit</a>
                                      <div class="alert alert-info" style="margin-top: 20px;" role="alert">
                                        Care Plan exists! Record New Visit via CarePlan
                                      </div>
                                      
                                      <div class="alert alert-danger" role="alert">
                                        If not done via careplan - may link to wrong diagnosis/carepaln
                                      </div>

                                  {% else %}
                                    <a href="{% url 'radonc-fup-list' res.0.crnumber %}?next={{ request.path|urlencode }}" class="btn my-btn mx-1">All Visits</a>
                                    <a href="{% url 'radonc-fup2' res.0.crnumber %}?next={{ request.path|urlencode }}" class="btn my-btn mx-1">New Visit</a>
                                    <p class="mt-1"><span class="red-highlight text-light"> This Patient has no CarePlan</span></p>
                                  {% endif %}
                              {% else %}
                                <a href="{% url 'radonc-fup2' res.0.crnumber %}?next={{ request.path|urlencode }}" class="btn my-btn mx-1">New Visit</a>
                              {% endif %}
                            </div>
                          </div>
                      {% else %}
                      <p><span class="red-highlight text-light"> This Patient is not Registered - Registration is mandatory</span></p>
                      <a href="{% url 'registration' crnumber %}?regcrn={{ crnumber }}" class="btn btn-dark mt-4">New Registration</a>
                      {% endif %}
                    </div>
                </div>

{#      Diagnosis#}
                <div class="col-md-3">
                    {% if dx %}
                    <div class="my-card box-shadow box-redius" style="background: #e1f8cb;">
                    {% else %}
                    <div class="my-card box-shadow box-redius">
                    {% endif %}
                        <h4><span class="me-1">2. </span>Diagnosis(Status)*</h4>
                        <hr>
                        <p style="color: #ff6d00"><b>MANDATORY</b></p>
                        <p>Here Details regarding status of diagnosis and clinical stage are filled.<span class="highlight">
                            Patient can have multiple statuses for the same diagnosis</span></p>
                            {% if res and dx %}
                            <a href="{% url 'radonc-diagnosis' crnumber %}?next={{ request.path|urlencode }}" class="btn my-btn mt-5">New Status</a>
                            <a href="{% url 'radonc-diagnosis-list' res.0.crnumber %}?next={{ request.path|urlencode }}" class="btn my-btn mt-5">Previous</a>
                            {% elif res %}
                            <a href="{% url 'radonc-diagnosis' crnumber %}?next={{ request.path|urlencode }}" class="btn btn-dark mt-5">New</a>
                            {% else %}
                            <a href="{% url 'registration' crnumber %}?next={{ request.path|urlencode }}" class="btn btn-dark mt-5">Please Register</a>
                            {% endif %}
                    </div>
                </div>

{#      CarePlan#}
                <div class="col-md-3">
                    {% if mx %}
                    <div class="my-card box-shadow box-redius" style="background: #e1f8cb">
                    {% else %}
                    <div class="my-card box-shadow box-redius">
                    {% endif %}
                        <h4><span class="me-1">3. </span>Treatment Plans*</h4>
                        <hr>
                        <p style="color: #ff6d00"><b>MANDATORY</b></p>
                        <p>Treatment Plan Details: Diagnosis is a dynamic state and accordingly it is updated<span class="highlight"> New Treatment Plan details, are linked to the
                          specific state of diagnosis.  </span></p>
                        {% if res and mx %}
                            <a href="{% url 'radonc-diagnosis-list' res.0.crnumber %}" class="btn my-btn mt-5">New</a>
                            <a href="{% url 'radonc-careplan-list' res.0.crnumber %}" class="btn my-btn mt-5">Mx Details</a>
                        {% elif res and dx %}
                            <a href="{% url 'radonc-diagnosis-list' res.0.crnumber %}" class="btn my-btn mt-5">New</a>
                        {% elif res %}
                            <a href="#" class="btn btn-dark mt-5 disabled">No Diagnosis</a>
                        {% else %}
                        <a href="{% url 'registration' %}" class="btn btn-dark mt-5">Please Register</a>
                        {% endif %}
                    </div>
                </div>

{#      Simulation#}
                <div class="col-md-3">
                    {% if sim %}
                    <div class="my-card box-shadow box-redius" style="background: #e1f8cb;">
                    {% else %}
                    <div class="my-card box-shadow box-redius">
                    {% endif %}
                        <h4><span class="me-1">4. </span>Simulation*</h4>
                        <hr>
                        <p style="color: #ff6d00"><b>MANDATORY</b></p>
                        <p>Simulation Details: <span class="highlight">If patient is undergoing DIBH assessment,
                        one must proceed to simulation via Pre-Simulation module in Careplan module</span></p>
                        {% if res and mx and presim and sim  %}
                        <a href="{% url 'radonc-presimulation-list' res.0.crnumber %}?next={{ request.path|urlencode }}" class="btn my-btn mt-1">Presim</a>
                        <a href="{% url 'radonc-simulation-list' res.0.crnumber%}?next={{ request.path|urlencode }}" class="btn my-btn mt-1">Update Sim</a>
                        <a href="{% url 'radonc-careplan-list' res.0.crnumber %}?next={{ request.path|urlencode }}" class="btn my-btn mt-1">NewSim(via Careplan)</a>

                        {% elif res and mx and sim  %}
                        <a href="{% url 'radonc-careplan-list' res.0.crnumber %}?next={{ request.path|urlencode }}" class="btn my-btn mt-5">New/Update</a>

                        {% elif res and mx and presim %}
                        <a href="{% url 'radonc-careplan-list' res.0.crnumber %}?next={{ request.path|urlencode }}" class="btn my-btn mt-1">New</a>
{#                        <a href="#" class="btn my-btn">Previous</a>#}
{#                        {% elif res and mx %}#}
{#                        <a href="{% url 'radonc-careplan-list' res.0.crnumber %}" class="btn my-btn">New(via Careplan3)</a>#}
                        {% elif res and mx and dx %}
                        <a href="" class="btn btn-dark disabled mt-5">Proceed Via CarePlan</a>

                        {% elif res and dx %}
                        <a href="#" class="btn btn-dark disabled mt-5">Complete Carepan</a>
                        {% elif res %}
                        <a href="#" class="btn btn-dark disabled mt-5">Complete Diagnosis</a>
                        {% else %}
                        <a href="{% url 'registration' crnumber %}" class="btn btn-dark mt-5">Please Register</a>
                        {% endif %}
                    </div>
                </div>

{#      PreSimulation  #}
            <div class="container mt-3">
                <div class="accordion mt-3" id="cardiacmarker">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingcardiac">
                            <button class="accordion-button collapsed bar-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#collapsecardiac" aria-expanded="false" aria-controls="collapsecardiac">
                                <h5 class="text-dark">OPTIONAL MODULES</h5>
                            </button>
                        </h2>
                        <div id="collapsecardiac" class="accordion-collapse collapse" aria-labelledby="headingcardiac" data-bs-parent="#cardiacmarker">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-3">
                                    {% if presim %}
                                        <div class="my-card box-shadow box-redius" style="background: #e1f8cb">
                                    {% else %}
                                        <div class="my-card box-shadow box-redius">
                                    {% endif %}
                                        {% if mx and presim %}
                                          <h4>Pre-Simulation</h4><span class="badge"><a href="{% url 'radonc-careplan-list' res.0.crnumber%}?next={{ request.path|urlencode }}" class="btn btn-sm btn-outline-danger">New(Via Careplan)</a></span>
                                        {% else %}
                                          <h4>Pre-Simulation</h4>
                                        {% endif %}
                                        <hr>
                                          <p class="text-dark"><b>OPTIONAL</b></p>
                                          <p>This information is must for
                                              Left sided Ca Breast patients undergoing DIBH assessment.<span class="red-highlight text-light">
                                                  <em>For ongoing DIBH assessment please use Update button below</em></span></p>
                                          {% if mx and presim %}
                                          <a href="{% url 'radonc-presimulation-update' presimdetails.pk %}?next={{ request.path|urlencode }}?next={{ request.path|urlencode }}" class="btn my-btn">Update(D1, D2, D3)</a>
                                          {% elif mx %}
                                          <a href="{% url 'radonc-careplan-list' res.0.crnumber %}?next={{ request.path|urlencode }}?next={{ request.path|urlencode }}" class="btn my-btn">New(Via Careplan)</a>
                                          {% elif not res %}
                                          <a href="{% url 'registration' %}?next={{ request.path|urlencode }}" class="btn btn-dark">Please Register</a>
                                          {% else %}
                                          <a href="{% url 'registration' res.0.crnumber %}?next={{ request.path|urlencode }}" class="btn btn-dark disabled">Enter CarePlan Details</a>
                                          {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                    {% if pft %}
                                        <div class="my-card box-shadow box-redius" style="background: #e1f8cb">
                                    {% else %}
                                        <div class="my-card box-shadow box-redius">
                                    {% endif %}
                                          <h4>PFT Details</h4>
                                          <hr>
                                          <p class="text-dark"><b>OPTIONAL</b></p>
                                          <p>Here pulmonary function test (PFT) details are required.
                                              Important for thoracic RT patients<span class="highlight">
                                              Entry to this module is via Follow up module</span></p>
                                          {% if res and pft %}
                                          <a href="#" class="btn my-btn">New</a>
                                          <a href="#" class="btn my-btn">PFT Details</a>
                                          {% elif res %}
                                          <a href="#" class="btn my-btn">New via FollowUp</a>
                                          {% else %}
                                          <a href="#" class="btn btn-dark">Please Register</a>
                                          {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                    {% if cm %}
                                        <div class="my-card box-shadow box-redius" style="background: #e1f8cb">
                                    {% else %}
                                        <div class="my-card box-shadow box-redius">
                                    {% endif %}
                                          <h4>Cardiac Makers</h4>
                                          <hr>
                                          <p class="text-dark"><b>OPTIONAL</b></p>
                                          <p>Enter cardiac markers like TropT, hsCRP, ProBNP here.
                                              This is important for left sided breast cancer patients.
                                              <span class="highlight"> Entry to this module is via FollowUp module </span></p>
                                          {% if res and cm %}
                                          <a href="#" class="btn my-btn">New</a>
                                          <a  href="#" class="btn my-btn">Details</a>
                                          {% elif res %}
                                          <a href="#" class="btn my-btn">New via Followup</a>
                                          {% else %}
                                          <a href="#"
                                            class="btn btn-dark">Please Register</a>
                                          {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>

{% endblock %}

