{% extends "patient_data/base.html" %}
{% block content %}
<div class="container" style="width: 80%; margin-top: 80px;">
    <div class="query-container">

                {% if data.0.parent_id.gender == 'Male' %}
                    <div><h4>All Surgery details for - Mr. {{ data.0.parent_id.first_name }} (CRNumber: {{ data.0.parent_id.crnumber }})</h4></div>
                {% else %}
                    <div><h4>All Surgery details for - Mrs. {{ data.0.parent_id.first_name }} (CRNumber: {{ data.0.parent_id.crnumber }})</h4></div>
                {% endif %}
                <hr>
                <div>
                    {% if request.GET.next %}
                        <h5><a  class="btn btn-dark" href="{{ request.GET.next }}">Back</a></h5>
                    {% else %}
                        <h5><a  class="btn btn-dark" href="{% url 'db_operations' data.0.parent_id.crnumber %}">Back</a></h5>
                    {% endif %}
                </div>
                {% for content in data %}
                    <div class="data-container">
                        <h5>Diagnosis: {{content.s3_id.s2_id.icd_topo_code}} ({{ content.s3_id.s2_id.icd_path_code }})</h5>
                        <h6>Unit: {{ content.sxunit }}, Admission Date: {{ content.admissiondate|date:"F d, Y" }} Discharge Date: {{ content.dischargedate|date:"F d, Y" }}</h6>
                        <h6>Surgery Date: {{ content.sxdate|date:"F d, Y" }}</h6>
                        <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'radonc-surgery-update' content.pk %}?next={{ request.path|urlencode }}">Update</a>
                            {% if content.s6_id in hpeids %}
                                 <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'radonc-hpe-update' content.s6hpe_set.all.0.pk %}?next={{ request.path|urlencode }}">UpdateHPE</a>
                            {% else %}
                                <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'radonc-hpe' content.parent_id.crnumber content.s6_id %}?next={{ request.path|urlencode }}">NewHPE</a>
                            {% endif %}

                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="#">Delete</a>
                        </div>
                        {% for surgery in content.sxtype.all %}
                        <small class="text-dark"><b>Surgery Type: </b>: {{ surgery.surgery }}</small><br>
                        {% endfor %}
                    </div>
                {% endfor %}
    </div>
</div>
{% endblock content %}