{% extends "patient_data/base.html" %}
{% block content %}
<div class="container">
    <div class="query-container">
        {# Left Space #}
        <div class="col-md-1"></div>
        {# Middle Space #}
        <div class="col-md-10">
            <div class="my-form">
                {% if data.0.parent_id.gender == 'Male' %}
                    <div><h4>All Assessment details for - Mr. {{ data.0.parent_id.first_name }} (CRNumber: {{ data.0.parent_id.crnumber }})</h4></div>
                {% else %}
                    <div><h4>All Assessment details for - Mrs. {{ data.0.parent_id.first_name }} (CRNumber: {{ data.0.parent_id.crnumber }})</h4></div>
                {% endif %}
                <div class="row">
                    <div class="col-auto">
                        {% if request.GET.next %}
                            <h5><a  class="btn btn-dark" href="{{ request.GET.next }}">Back</a></h5>
                        {% else %}
                            <h5><a  class="btn btn-dark" href="{% url 'radonc-radiotherapy-list' data.0.parent_id.crnumber %}">Back</a></h5>
                        {% endif %}
                    </div>
{#                    <div class="col-auto">#}
{#                        <h5><a  class="btn btn-dark" href="{% url 'radonc-ass' data.0.s4_id.s4_id %}?next={{ request.path|urlencode }}">New Assessment</a></h5>#}
{#                    </div>#}
                </div>
                <table class="styled-table m-1">
                    <caption>
                        <h6>Diagnosis: {{ data.0.s4_id.s2_id.icd_topo_code|upper}} ({{ data.0.s4_id.s2_id.icd_path_code }})</h6>
                        {% if data.0.s4_id.s3_id.enddate %}
                            <a class="btn btn-danger">Treatment Course is closed. Can not edit further</a>
                        {% endif %}
                        <h6 class="gradient-mini text-light box-shadow box-redius p-1 mt-2 text-dark">
                            Diagnosis Status: {{ data.0.s4_id.s2_id.dx_type|upper}}
                            Treatment Course: Start: {{ data.0.s4_id.s3_id.startdate|date:'d-m-Y' }}
                            End:
                            {% if data.0.s4_id.s3_id.enddate %}
                                {{ data.0.s4_id.s3_id.enddate|date:'d-m-Y' }}
                            {% else %}
                                Treatment Course not closed
                            {% endif %}
                        </h6>
                        <h6>Planned RT Details: {{ data.0.s4_id.rtdose1 }} Gy / {{ data.0.s4_id.rtdosefr1 }} fractions.
                            <b>Boost?:
                                {% if data.0.s4_id.rtdose2 %}
                                    Yes, Boost Dose: {{ data.0.s4_id.rtdose2 }} Gy / {{ data.0.s4_id.rtdosefr2 }} fractions
                                {% else %}
                                    No
                                {% endif %}
                            </b>
                        </h6>
                    </caption>
                    <thead>
                        <tr>
                            <th>Assessment Date</th>
                            <th>RT Status</th>
                            <th>Fx Done</th>
                            <th>Toxicity</th>
                            <th>Prescription</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for content in data %}
                            <tr>
                            <td>{{ content.as_date|date:"F d, Y" }}</td>
                            <td>{{ content.txstatus }}</td>
                            <td>{{ content.fxdone }}</td>
                            <td>
                                {% for tox in  content.acutetoxicity_set.all %}
                                    <small class="text-muted"><b>{{ tox.tox_term }}: </b>: {{ tox.tox_grade }}</small><br>
                                {% endfor %}
                            </td>
                            <td>
                                {% for pres in  content.prescription_set.all %}
                                    <small class="text-muted"><b>
                                        {{ pres.symptoms_type }} -- {{ pres.symptoms }} for {{ pres.symp_duration }} days
                                    </b></small><br>
                                    <small class="text-muted"><b>
                                        Prescription: -- {{ pres.drug_name }} {{ pres.dosage }} {{ pres.unit }} for {{ pres.duration }} days
                                    </b></small><br>
                                {% endfor %}
                            </td>
                            <td>
                                {% if not content.s4_id.s3_id.enddate %}
                                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'radonc-ass-update' content.pk %}?next={{ request.path|urlencode }}">Update</a>
                                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'radonc-ass' content.s4_id.s4_id %}?next={{ request.path|urlencode }}">New Assessment</a>
                                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="#">Delete</a>
                                {% else %}
                                    <a class="btn btn-sm btn-danger disabled">Closed</a>
                                {% endif %}
                            </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {# Right Space #}
        <div class="col-md-1"></div>
    </div>
</div>
</div>
{% endblock content %}