{% extends "patient_data/base.html" %}
{% block content %}
<div class="container">
    <div class="my-form">
        <h5>Work in Progress!</h5>
        <p>We are excited to announce the upcoming release of our artificial intelligence (AI) feature for medical images in oncology. This innovative technology will allow our healthcare providers to analyze medical images using AI algorithms, improving the accuracy and efficiency of cancer diagnosis and treatment planning. With this feature, our providers will be able to more easily identify cancerous tumors and make more informed decisions about the best course of treatment for each patient. We believe that this technology has the potential to revolutionize cancer care and we are thrilled to be able to offer it to our patients in the near future.</p>
    </div>
</div>
{% endblock content %}