{% extends 'base.html' %}

{% block content %}

<div class="container"> 
    
</div>
<div class="footer">
    <footer class="text-center text-lg-start text-white" style="background-color: #252627">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        Crafted with <i class="fa-solid fa-heart"></i> by
        <a class="text-white my-link" href="https://mdbootstrap.com/">MedPy Foundation powered by Dashamlav
          Labs</a>
      </div>
    </footer>
</div>
{% endblock %}